{
  "env": {
    "test": {
      "presets": [
        ["env", {
          "targets": {
            "node": "current"
          }
        }],
        "stage-2"
      ]
    },
    "development": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": "> 2%",
            "uglify": true
          }
        }],
        "stage-2"
      ]
    },
    "production": {
      "presets": [
        ["env", {
          "modules": false,
          "targets": {
            "browsers": "> 2%",
            "uglify": true
          }
        }],
        "stage-2"
      ]
    }
  }
}
