// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto+Slab:400,700|Roboto:400,700');

@tailwind preflight;

[v-cloak] {
    display: none;
}

@tailwind utilities;

a {
    @apply .no-underline .text-blue;
}

table {
    @apply .w-full;
}

.btn {
    @apply .text-white .py-2 .px-4 .rounded .bg-blue;
}

.spinning {
    animation: spinning 2s infinite linear;
}

.fa-pulse {
    animation: spinning 1s infinite steps(8);
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
